<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-web:war exploded">
    <output-path>$PROJECT_DIR$/spring-web/target/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-web" />
        </element>
        <element id="directory" name="lib">
          <element id="archive" name="jcaptcha-1.0-SNAPSHOT.jar">
            <element id="module-output" name="spring-jcaptcha" />
          </element>
          <element id="archive" name="cache-1.0-SNAPSHOT.jar">
            <element id="module-output" name="spring-cache" />
          </element>
          <element id="library" level="project" name="Maven: com.google.code.simple-spring-memcached:simple-spring-memcached:3.6.1" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.6" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.3.4" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.3.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.3.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.4" />
          <element id="library" level="project" name="Maven: com.google.code.simple-spring-memcached:xmemcached-provider:3.6.1" />
          <element id="library" level="project" name="Maven: com.googlecode.xmemcached:xmemcached:2.0.1" />
          <element id="library" level="project" name="Maven: com.google.code.simple-spring-memcached:spring-cache:3.6.1" />
          <element id="library" level="project" name="Maven: com.octo.captcha:jcaptcha-all:1.0-RC6" />
          <element id="library" level="project" name="Maven: commons-collections:commons-collections:3.2" />
          <element id="archive" name="service-1.0-SNAPSHOT.jar">
            <element id="module-output" name="spring-service" />
          </element>
          <element id="archive" name="data-1.0-SNAPSHOT.jar">
            <element id="module-output" name="spring-mybaits" />
          </element>
          <element id="archive" name="spring-common-1.0-SNAPSHOT.jar">
            <element id="module-output" name="spring-common" />
          </element>
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-web:2.6.2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.6.2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.6.2" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.3.1" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.2" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.9.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.1" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:1.3.0" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.9" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.1.2" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.7" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-web/target/web/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-web/web/Web" />
    </root>
  </artifact>
</component>